<div class="container">
	<div class="block">
      <div class="row">
        <div class="component">
          <img class="img-left" src="{{image}}"/>
          <div class="content-heading"><h3>{{title}} </h3></div>
          {{#each paragraph}}
          <p>{{this}}</p>
          {{/each}}
        </div>
     </div>
    </div>
</div>