<div class="form-wrapper">
    <form id="email-collection-form" method="post" action="">
        <div class="name-container">
            <span class="form-input-container">
                <i class="form-field-icon fas fa-user fa-lg"></i>
                <input class="form-input-field" type="text" name="firstname" placeholder="Firstname" required>
            </span>
            <span class="form-input-container">
                <i class="form-field-icon fas fa-user fa-lg"></i>
                <input class="form-input-field" type="text" name="lastname" placeholder="Lastname" required>
            </span>
        </div>
        <span class="form-input-container">
            <i class="form-field-icon fas fa-lock fa-lg"></i>
            <input class="form-input-field" type="email" name="email" placeholder="Email" required>
        </span>
        <div class="type-container">
            <span class="form-input-container">
                <label for="type">Who are you?</label>
                <select name="type" id="user-type" required>
                    <option value="investor">Investor</option>
                    <option value="consumer">Consumer</option>
                    <option value="business">Business</option>
                </select>
            </span>
        </div>
        <span class="form-button-container">
            <input class="form-button submit" type="submit" value="submit">
        </span>
    </form>
</div>