<form class="col-5" id="email-collection-form" method="post" action="">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input class="form-control" type="text" name="firstname" placeholder="Firstname" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input class="form-control" type="text" name="lastname" placeholder="Lastname" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="type">Who are you?</label>
        <select class="form-control" name="type" id="user-type" required>
            <option value="investor">Investor</option>
            <option value="consumer">Consumer</option>
            <option value="business">Business</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
