<div class="img-container">
    <div class="full-image" style="height: {{height}};">
        <img src="{{image}}"  alt="Example image"/>
        <div class="caption">
        <h3>{{caption}}</h3>
        </div>
    </div>
    
</div>