<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Who are you?</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/business">Businesses</a>
            <a class="dropdown-item" href="/consumer">Consumers</a>
            <a class="dropdown-item" href="/investor">Investors</a>

        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/team">Meet the Team</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/demo">Product Demo</a>
    </li>
</ul>