<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Zephyr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/team">Meet the Team</a>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#emailModal">
                Contact Us
            </button>
        </div>
    </div>
</nav>
{{>emailCollectionModal}}