<div class = "flex-cards-container">
  <div class="team-card" style="width: 18rem;">
    <img class="card-img-top" src="/images/userPlaceholder.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nathan Jewell</h5>
      <p class="card-text"> Founder + CEO. <br> </p>

      <a href="#" class="btn btn-primary">More info</a>
    </div>
  </div>

  <div class="team-card" style="width: 18rem;">
    <img class="card-img-top" src="/images/userPlaceholder.png" alt="test img">
    <div class="card-body">
      <h5 class="card-title">Michael Hathaway</h5>
      <p class="card-text"> Development. <br></p>
      <a href="#" class="btn btn-primary">More info</a>
    </div>
  </div>

  <div class="team-card" style="width: 18rem;">
    <img class="card-img-top" src="/images/userPlaceholder.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">David Shoemaker</h5>
      <p class="card-text"> Development. <br></p>
      <a href="#" class="btn btn-primary">More info</a>
    </div>
  </div>

  <div class="team-card" style="width: 18rem;">
    <img class="card-img-top" src="/images/userPlaceholder.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Kyle Esquerra</h5>
      <p class="card-text"> Development. <br></p>
      <a href="#" class="btn btn-primary">More info</a>
    </div>
  </div>

  <div class="team-card" style="width: 18rem;">
    <img class="card-img-top" src="/images/userPlaceholder.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Eric Lester</h5>
      <p class="card-text"> Development. <br></p>
      <a href="#" class="btn btn-primary">More info</a>
    </div>
  </div>
</div>
