<div class="modal fade" id="NathanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style = "color:black;">Nathan Jewell</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style = "color:black;">
        Hi! I am a computer scientist finishing my degree at Oregon State
        University. I've developed a breadth of experience using a variety of
        technologies from blockchain to embedded systems and have been involved
         with small startup teams. Now, I'm excited to be working on Zephyr
          Payments and learning new things as we take the next steps in making
          web content more available to everyone. When not at a computer, you
          can find me outside, exploring the mountains of the Pacific Northwest.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="MichaelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style = "color:black;">Michael Hathaway</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style = "color:black;">
        My name is Michael Hathaway. I am a Computer Science student in the
        Data Science applied option. I am excited to be working on this project
        with all of you! I think it will be a great opportunity and learning
        experience to be a part of a startup and produce a commercial product.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="DavidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style = "color:black;">David Shoemaker</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style = "color:black;">
        I'm David Shoemaker and I am computer science major with the cyber
        security option. I am really looking forward to working with everyone
        on this project! Using my skills in a real world environment will be
        great for learning and can't wait to get started.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="KyleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style = "color:black;">Kyle Esquerra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style = "color:black;">
        My name is Kyle Esquerra. I'm currently a Computer Science major with
        the Cybersecurity applied option and formerly an intelligence analyst
        with the United State Marine Corps. I'm excited at the prospect of
        creating a blockchain application that utilizes some modern cryptographic techniques.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EricModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style = "color:black;" >Eric Lester</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style = "color:black;">
        My names Eric Lester. I am a computer science major focusing on
        Artificial Intelligence(previously data science).  I am excited to use
        and improve my software engineering skills in a real world situation.
        I am interested in learning new skills and tackling whatever problems
        cross our path even if they are not inherent to computer science.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
