<div class = "flex-cards-container">
  <div class="team-card" style="width: 18rem;">
    <img class="card-img-top" src="/images/userPlaceholder.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">First name Last name</h5>
      <p class="card-text">*less than 100 word bio <br>
                            *Role: ie. “Database Management, Blockchain Developer, Board Member, Marketing Coordinator” (required) <br>
                            *Category: ie. “Development, Business, Management” (required</p>
      <a href="#" class="btn btn-primary">More info</a>
    </div>
  </div>

  <div class="team-card" style="width: 18rem;">
    <img class="card-img-top" src="/images/userPlaceholder.png" alt="test img">
    <div class="card-body">
      <h5 class="card-title">First name Last name</h5>
      <p class="card-text"> *less than 100 word bio <br>
                            *Role: ie. “Database Management, Blockchain Developer, Board Member, Marketing Coordinator” (required) <br>
                            *Category: ie. “Development, Business, Management” (required)</p>
      <a href="#" class="btn btn-primary">More info</a>
    </div>
  </div>

  <div class="team-card" style="width: 18rem;">
    <img class="card-img-top" src="/images/userPlaceholder.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">First name Last name</h5>
      <p class="card-text">*less than 100 word bio <br>
                            *Role: ie. “Database Management, Blockchain Developer, Board Member, Marketing Coordinator” (required) <br>
                            *Category: ie. “Development, Business, Management” (required</p>
      <a href="#" class="btn btn-primary">More info</a>
    </div>
  </div>

  <div class="team-card" style="width: 18rem;">
    <img class="card-img-top" src="/images/userPlaceholder.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">First name Last name</h5>
      <p class="card-text">*less than 100 word bio <br>
                            *Role: ie. “Database Management, Blockchain Developer, Board Member, Marketing Coordinator” (required) <br>
                            *Category: ie. “Development, Business, Management” (required</p>
      <a href="#" class="btn btn-primary">More info</a>
    </div>
  </div>
</div>
