<div class="page-wrapper">
    <div class="page-header">
        <!-- filler call to action-->
        <div class="d-flex justify-content-between"><h2>For Internet User</h2>
        <h2>Take control of your browsing experience</h2></div>
    </div>
        {{>contentComponent comp}}
        {{>contentComponent comp2}}
    <div class="page-email">
        <!-- stay updated button -->
        {{>emailCollectionModal}}
        {{>triggerModalButton}}
    </div>
</div>