<div class="page-wrapper">
    <div class="page-cta">
        <!-- filler call to action-->
        <h2>Call to Action (Internet User)</h2>
        <h3>Take control of your browsing experience</h3>
    </div>
    <div class="page-body">
        <!-- filler photo and text -->
        <img src="https://dummyimage.com/360x640/fff/aaa">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id donec ultrices tincidunt arcu non sodales. Nunc sed id semper risus. Imperdiet sed euismod nisi porta lorem mollis aliquam. Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum. Quisque egestas diam in arcu cursus euismod quis. Volutpat odio facilisis mauris sit amet massa vitae. Id velit ut tortor pretium viverra. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Commodo elit at imperdiet dui accumsan. Placerat orci nulla pellentesque dignissim enim sit. Vel orci porta non pulvinar neque laoreet. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. Amet dictum sit amet justo donec enim diam. Orci nulla pellentesque dignissim enim sit amet venenatis.
        Sem fringilla ut morbi tincidunt augue interdum velit euismod. Duis ut diam quam nulla porttitor massa. Varius vel pharetra vel turpis nunc eget lorem dolor sed. Tristique magna sit amet purus gravida quis blandit turpis. Volutpat ac tincidunt vitae semper. Ultricies lacus sed turpis tincidunt id aliquet risus. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Viverra orci sagittis eu volutpat odio facilisis. Purus sit amet volutpat consequat mauris. Felis eget velit aliquet sagittis id consectetur purus. Vitae aliquet nec ullamcorper sit. Facilisis leo vel fringilla est. Sem et tortor consequat id porta. Amet nisl purus in mollis nunc sed id. In iaculis nunc sed augue lacus. Tellus in hac habitasse platea. Condimentum mattis pellentesque id nibh tortor id aliquet lectus proin.
        Diam vulputate ut pharetra sit amet aliquam id diam. Non diam phasellus vestibulum lorem sed risus. Nam libero justo laoreet sit amet cursus sit. Facilisis sed odio morbi quis commodo odio. In tellus integer feugiat scelerisque varius morbi enim. Vivamus arcu felis bibendum ut tristique et egestas quis. Sollicitudin tempor id eu nisl nunc mi. Odio pellentesque diam volutpat commodo sed egestas. Ac placerat vestibulum lectus mauris. Laoreet suspendisse interdum consectetur libero id faucibus. Aliquet nibh praesent tristique magna. Blandit massa enim nec dui. Metus aliquam eleifend mi in nulla. Dolor sit amet consectetur adipiscing elit pellentesque.</p>
    </div>
    <div class="page-email">
        <!-- stay updated button -->
        {{>emailCollectionModal}}
        {{>triggerModalButton}}
    </div>
</div>