<div class="page-wrapper">
    <div class="container">

        <div class="jumbotron" style="margin-top: 30px; color: black; background-color: white">
            <h1 class="display-4">Product Name</h1>
            <h3 class="lead">Web payment for the information age.</h3>
            <hr class="my-4">
            <a href="" class="btn btn-primary">Want to stay updated?</a>
        </div>

        <div class="card-deck">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body" style="color: black">
                    <h5 class="card-title">Content Creators</h5>
                    <p class="card-text">This is the service we will provide for you!</p>
                    <a href="/business" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body" style="color: black">
                    <h5 class="card-title">Internet User</h5>
                    <p class="card-text">This is the service we will provide for you!</p>
                    <a href="/consumer" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body" style="color: black">
                    <h5 class="card-title">Investors</h5>
                    <p class="card-text">This is the service we will provide for you!</p>
                    <a href="/investor" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
</div>