<div class="page-wrapper">
    <div class="container">

        <div class="jumbotron" style="margin-top: 30px; color: black; background-color: white">
            <h1 class="display-4">Web Payment For The Information Age</h1>
            <hr class="my-4">
        </div>

        <div class="card-deck">
            <div class="card">
                <div class="card-body" style="color: black">
                    <h5 class="card-title">Content Creators</h5>
                    <p class="card-text">Increase revenue, decrease bounce rate!</p>
                    <a href="/business" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body" style="color: black">
                    <h5 class="card-title">Internet User</h5>
                    <p class="card-text">Bypass annoying paywalls and ads!</p>
                    <a href="/consumer" class="btn btn-primary">Learn More</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body" style="color: black">
                    <h5 class="card-title">Investors</h5>
                    <p class="card-text">Be a part of the nanopayment revolution!</p>
                    <a href="/investor" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
</div>