.d-flex {
    margin-left: 10%;
    margin-right: 10%;
}

.page-email {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.component .img-left {
    margin-right: 10px;
    float: left
}

.content-heading {
    text-align: center;
}