.d-flex {
    margin-left: 10%;
    margin-right: 10%;
}

.page-header {
    padding: 2%;
    border: 3px;
    border-style: hidden hidden solid hidden;
}

.page-email {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.component .img-left {
    margin-right: 10px;
    float: left
}

.component * {
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    padding: 2%;
    
}

.content-heading {
    text-align: center;
}

.full-image {
    position: relative;
    width: 100%;
}

.full-image img{
    width: 100%;
    height: 100%;
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%)
}